.App {
  text-align: center;
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul{
  list-style-type: none;
  display :flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.active1_link{
  text-decoration: none;
  color: white;
}
.active1{
  justify-content: space-around;
  margin-bottom: 5px;
  padding: 10px 0;
}
.Footer_ul{
  padding:10px 10px;
  justify-content: space-around;
}
ul .active2{
  color: white;
}
img{
  width: 80%;
  height: 200px;
}
div.column{
  display:inline-block;
  width: 30%;
  padding: 5px;
}
h3{
  margin:2px 0;
}
p.title{
  margin:2px 0;
}
p{
  margin:2px 0;
}
div.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
  border:2px red solid;
}